{% extends 'base.html' %}
<body>
{% block body %}
    <header>
    <h1 class="title">chan</h1>
    <article class="warning">
        Добро пожаловать на chan! Наш сайт является имиджбордом — одним из специфических сетевых форумов, где нет принудительной регистрации, а к сообщениям можно легко прикреплять графические файлы. Также в сообщениях можно использовать язык разметки <a href="https://paulradzkov.com/2014/markdown_cheatsheet/">Markdown</a>. Тематика сайта почти ничем не ограничена: те вопросы, для которых не выделено отдельного тематического раздела, можно обсудить на доске /b/.

        Поскольку сайт построен по принципу наполнения самими пользователями, то, как он будет выглядеть, всецело зависит от них самих. Наше сообщество стремится к достижению высокой культуры общения. Мы надеемся на то, что пользователи нашего сайта будут вежливыми и интересными собеседниками и предпочтут содержательное общение бессмысленным разборкам.
    </article>
    </header>
    <nav class="boards">
      <ul class="boards-list">
          {% for board, name in zip(boards_list, boards_name) %}
          <li><a href="{{ url_for("board", board=board) }}" >{{ name }}</a>
          {% endfor %}
          <li style="font-style: italic"><a href="{{ url_for('news') }}" >Новости</a>
      </ul>
    </nav>
{% endblock %}
</body>