{% extends 'base.html' %}
<body>
{% block body %}
    <header>
        <h1>/{{ board }}/</h1>
    </header>

    <ul class="posts-list">
        <p  style="font-weight:bold">{{ root[0]|safe }}</p>
        <p  style="font-weight:bold">{{ root[1]|safe }}</p>
        {% for post in posts %}
        <li>{{ post[3]|safe }}
        {% endfor %}
    </ul>

    <form method="POST" class="form">
        <input name="message" class="text-field">
        <input type=file name=file>
        <input type="submit" class="submit-post">
    </form>
{% endblock body %}
</body>